<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Socket</title>
    <link rel="stylesheet" href="myStyle.css">
    <script src="https://git.heroku.com/fly-chat.git/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="myScript.js"></script>
</head>

<body>
	<div id="login-form">
		<h1>Welcome to FlyChat</h1>
		<h2>What your name?</h2>
		<input type="text" id="textRegister">
		<input type="button" id="btnRegister" value="Start chat">
	</div>
	<div id="chat-form" style="display: inline;">
		<h1>Fly Chat</h1>
		<div id="left">
			<div id="boxTitle">
				Friend Online
			</div>
			<hr/>
			<div id="boxContent">
				abc
			</div>
		</div>

		<div id="right">
			<div id="sayHi">
				<span id="userAct"></span>.
				Hi <span id="userName">name</span> ,
				<input type="button" id="btnLogout" value="Log Out"/>
			</div>

			<div id="listMess">
			</div>
			<div id="sendMess">
				<input type="text" id="txtSend"/>
				<input type="button" id="btnSend" value="Send"/>
			</div>
		</div>
	</div>
</body>

</html>